# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.directory
*.class
ANBPreloader/dist/ANBPreloader.jar
ANBPreloader/dist/README.TXT
ANotebook/build/built-jar.properties
ANotebook/build/classes/anotebook/ChainUC.fxml
ANotebook/derby.log
ANotebook/dist/ANotebook.html
ANotebook/dist/ANotebook.jar
ANotebook/dist/ANotebook.jnlp
ANotebook/dist/lib/ANBPreloader.jar
ANotebook/dist/lib/derby.jar
ANotebook/dist/web-files/dtjava.js
ANotebook/dist/web-files/error.png
ANotebook/dist/web-files/get_java.png
ANotebook/dist/web-files/get_javafx.png
ANotebook/dist/web-files/javafx-chrome.png
ANotebook/dist/web-files/javafx-loading-100x100.gif
ANotebook/dist/web-files/javafx-loading-25x25.gif
ANotebook/dist/web-files/upgrade_java.png
ANotebook/dist/web-files/upgrade_javafx.png